CLIENT_ID="{{ (index (bitwarden "item" "105f8c9d-db42-427a-b5c7-ae45013c6773").fields 0).value }}"
CLIENT_SECRET="{{ (index (bitwarden "item" "105f8c9d-db42-427a-b5c7-ae45013c6773").fields 1).value }}"
