export AWS_ACCESS_KEY_ID="{{ (index (bitwarden "item" "6628ba25-e670-40c9-8d36-add501884cc9").fields 0).value }}"
export AWS_SECRET_ACCESS_KEY="{{ (index (bitwarden "item" "6628ba25-e670-40c9-8d36-add501884cc9").fields 1).value }}"
export AWS_REGION="us-west-2"
export AWS_DEFAULT_REGION="us-west-2"

export CLOUDFLARE_EMAIL="{{ (index (bitwarden "item" "03555550-f8b2-436a-aa61-add501884cc9").fields 0).value }}"
export CLOUDFLARE_TOKEN="{{ (index (bitwarden "item" "03555550-f8b2-436a-aa61-add501884cc9").fields 1).value }}"