#!/usr/bin/env bash

# configuration.nix hash: {{ include "dot_config/darwin/configuration.nix" | sha256sum }}
# flake.nix hash: {{ include "dot_config/darwin/flake.nix" | sha256sum }}
# home.nix hash: {{ include "dot_config/darwin/home.nix" | sha256sum }}
darwin-rebuild switch --flake ~/.config/darwin